.emailList {
	flex: 1;
	overflow: scroll;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

.emailList__settings {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	z-index: 999;
	padding-right: 10px;
}

.emailList__sections {
	position: sticky;
	top: 0;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	z-index: 999;
}

.emailList__list {
	padding-bottom: 20%;
}